<div class="row mb-2">
  {{#each posts}} 
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="card-header text-right bg-transparent">
          <a href="/posts/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{title}}</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">{{description}}</p>
          <!-- DELETE REQUEST -->
          <form action="/posts/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block">Delete</button>
          </form>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    {{else}}
    <div class="card mx-auto mt-4 text-center">
        <div class="card-body">
          <h1>Hello! {{user.name}}</h1>
          <span class="fa-stack fa-lg mb-2">
            <i class="far fa-smile-wink fa-stack-2x"></i>
          </span>
          <p class="lead">There are not Posts yet.</p>
          <a href="/posts/add" class="btn btn-success btn-block btn-md">Create One!</a>
        </div>
    </div>
  {{/each}}
</div>